.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 05/07/2024 */

header.header_bar {
  background: #002b5c;
}

header.header_bar .MuiToolbar-root {
  display: flex;
  justify-content: space-between;
}

header.header_bar .logo_branding img {
  width: 100%;
  max-width: 200px;
}

header.header_bar {
  background: #002b5c;
}

header.header_bar .navigation {
  gap: 25px;
}

header.header_bar .navigation a {
  text-decoration: none;
}

header.header_bar .navigation a.button_white {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 43, 90) !important;
  border-radius: 18px;
  padding: 4px 18px;
}

.cat_tool_desc {
  padding: 100px 0;
}

.cat_tool_desc h3 {
  text-align: center;
  font-size: 40px;
  padding: 8px 0 6px;
  margin: 0px;
  font-weight: 600;
  margin-bottom: 60px;
}
.p {
  color: #1fbd1f;
  font-weight: bold;
}
.cat_tool_desc form {
  padding: 24px;
  background: #f5f6f7;
}
span {
  font-size: x-small;
}
.cat_tool_desc form .form_grid {
  padding: 0;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.form_group {
  justify-content: flex-start;
  align-items: flex-start;
}

.form_group p {
  color: #788190;
  font-size: 14px;
  font-weight: normal;
}

.form_group input,
.form_group .MuiSelect-select {
  padding: 3px 5px 3px 9px;
  font-size: 16px !important;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  height: 37px !important;
  box-shadow: inset 0 1px 3px #ddd !important;
  min-width: 120px;
  background: #fff;
}

.drag_upload {
  padding: 30px;
  position: relative;
  border: 1px dashed #ccc;
  margin: 18px 22px;
  min-height: 200px;
  border-radius: 4px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag_upload h4 {
  text-align: center;
  margin: 2px 0 0 0;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}

.drag_upload p {
  font-size: 24px;
  text-decoration: underline;
  color: #788190;
}

.form_bottom_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.form_bottom_bar button {
  text-transform: none;
  background: #aebdcd;
  padding: 8px 16px;
  width: auto !important;
  min-width: 200px;
  transition: all 100ms ease-in;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 2px;
  display: inline-block;
  line-height: normal;
  font-weight: 400;
  font-size: 18px !important;
}

.analyse-item {
  background-color: #eaebee;
  border-left: 1px solid #d9e0e8;
}

.analyse-item * {
  font-size: 16px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.analyse-item > div {
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2px;
  padding-right: 6px;
}

.analyse-item > div:first-child {
  border-bottom: 1px solid #d9e0e8;
  height: 60px;
  font-weight: bold;
}

.analyse-item:first-child {
  background-color: #f5f6f7;
  border: none;
}

.analyse-item:first-child > div:first-child {
  font-weight: normal;
  border: none;
}
.analyse-item:last-child > div:last-child {
  font-weight: normal;
  border: none;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 800;
}
.analyse-item1 {
  background-color: #FFF;
  border-left: 1px solid #d9e0e8;
}
.color{
  background-color: #eeeee5;
  border-radius: 1px;
  visibility:visible;
}
.color1{

  visibility:hidden;
}
.analyse-item1 * {
  font-size: 16px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.analyse-item1 > div {
  height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2px;
  padding-right: 6px;
  margin-bottom: -18px;
}

.analyse-item1 > div:first-child {
  /* border-bottom: 1px solid #d9e0e8; */
  height: 55px;
  font-weight: bold;
}

.analyse-item1:first-child {
  background-color: #fff;
  border: none;
}

.analyse-item1:first-child > div:first-child {
  font-weight: normal;
  border: none;
}
