.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1); 
  border-radius: 40px;
}


/* 05/07/2024 */

header.header_bar {
  background: #002b5c;
}
header.header_bar .MuiToolbar-root {
  display: flex;
  justify-content: space-between;
}
header.header_bar .logo_branding img {
  width: 100%;
  max-width: 200px;
}

header.header_bar {
  background: #002b5c;
}

header.header_bar .navigation {
  gap: 25px;
}

header.header_bar .navigation a {
  text-decoration: none;
}

header.header_bar .navigation a.button_white {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 43, 90) !important;
  border-radius: 18px;
  padding: 4px 18px;
}

.cat_tool_desc {
  padding: 50px 0;
}

.cat_tool_desc h3 {
  text-align: center;
  font-size: 40px;
  padding: 8px 0 6px;
  margin: 0px;
  font-weight: 600;
  margin-bottom: 60px;
}

.cat_tool_desc form {
  padding: 24px;
  background: #f5f6f7;
  width: 100%;
}

.cat_tool_desc form .form_grid {
  padding: 0;
  width: 100%;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.form_group {
  justify-content: flex-start;
  align-items: flex-start;
}

.form_group p {
  color: #788190;
  font-size: 14px;
  font-weight: normal;
}

.form_group input, .form_group .MuiSelect-select {
  padding: 3px 5px 3px 9px;
  font-size: 16px !important;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid rgba(34, 36, 38, .15);
  height: 37px;
  box-shadow: inset 0 1px 3px #ddd !important;
  min-width: 120px;
  background: #fff;
}

.drag_upload {
  padding: 30px;
  position: relative;
  border: 1px dashed #ccc !important;
  margin: 18px 22px;
  min-height: 150px;
  border-radius: 4px;
  background: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag_upload h4 {
  text-align: center;
  margin: 2px 0 0 0;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}

.drag_upload  p {
  font-size: 24px;
  text-decoration: underline;
  color: #788190;
}

.form_bottom_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.form_bottom_bar button {
  text-transform: none;
  background: #aebdcd;
  padding: 8px 16px;
  width: auto !important;
  min-width: 200px;
  transition: all 100ms ease-in;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 2px;
  display: inline-block;
  line-height: normal;
  font-weight: 400;
  font-size: 18px !important;
}

.cat_tool_desc {
  flex-direction: column;
}

.sidebar_opening button {
  gap: 7px;
  fill: #0055b8;
  color:#000;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
}

.settings-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0 10px;
  background-color: #002b5a;
  color: #fff;
}

.settings-panel-header .settings-panel-header-logo {
  background: url(https://www.matecat.com/public/build/images/logo_matecat_small_white.svg) no-repeat;
  background-position-y: center;
  background-size: contain;
  width: 35px;
  height: 35px;
}

.drawer_sidebar .MuiDrawer-paper {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  max-width: 1024px;
  background-color: #fff;
  transition: transform .5s ease-in-out !important;
}

.form_bottom_bar {
  width: 100%;
}

.cat_tool_desc form .search_lang .MuiInputBase-formControl  { 
    padding: 3px 25px 3px 9px !important;
    font-size: 16px !important;
    border-radius: 2px;
    height: 45px !important;
    box-shadow: none !important;
    min-width: 160px;
    max-width: 160px;
    background: #fff;
    overflow: hidden;
    border: 1px solid rgba(34, 36, 38, .15);
    box-shadow: inset 0 1px 3px #ddd !important;
  }
  
.cat_tool_desc form .search_lang .MuiInputBase-formControl fieldset {
  border: none;
  border-radius: 2px;
}

.cat_tool_desc form .search_lang input {
  padding: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}


.cat_tool_desc form .search_lang .MuiInputBase-formControl .MuiAutocomplete-tag {
  text-wrap: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin: 5px 0;
}

.cat_tool_desc form .search_lang .MuiAutocomplete-endAdornment.css-p1olib-MuiAutocomplete-endAdornment {
    z-index: 1;
}

.cat_tool_desc form .search_lang button {
    background: #fff;
}

.cat_tool_desc form .search_lang .MuiInputBase-formControl:before {
  display: none;
}


.cat_tool_desc form .search_lang .MuiInputBase-formControl:after {
  display: none;
}

.cat_tool_desc form input#project-name {border: 1px solid rgba(34, 36, 38, .15);}

.cat_tool_desc form fieldset {
    border: none;
    border-radius: 2px;
}

.MuiContainer-root {
  max-width: 90% !important;
}

.multilang_dialog  .MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper {
    width: 100%;
    max-width: 90%;
    height: 90vh;
}

.header_top {
  text-align: left;
  min-height: 50px;
  border-radius: 4px 4px 0 0;
  overflow: visible;
  max-height: inherit;
  font-size: 23px;
  background: #002b5c;
  padding: 7px 10px 7px 24px;
  background-size: 35px;
  color: #fff;
  margin: 0 !important;
  align-items: center;
}

.header_top button {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: none;
  float: right;
  font-size: 20px;
  color: #002b5c;
  font-weight: 700;
}

.header_top h2 {
  padding: 0 !important;
  font-size: 23px;
  margin: 0;
}

.dialog_content .w-100 {
  width: 100%;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.dialog_content .w-100 .MuiAutocomplete-hasPopupIcon {
  width: 100%;
}

.dialog_content .w-100 b {
  min-width: 40px;
}


.dialog_content  .MuiChip-filled.MuiChip-sizeMedium.MuiChip-colorDefault {
  position: relative;
  display: flex;
  padding: 0px 8px;
  text-transform: capitalize;
  border-radius: 2px;
  margin: 0 2px;
  background: #fff;
  color: #000;
  border: 1px solid #aebdcd;
  justify-content: space-between;
}

.dialog_content .MuiChip-filled.MuiChip-sizeMedium.MuiChip-colorDefault span.MuiChip-label {
  padding-left: 0;
}

.dialog_content .MuiChip-filled.MuiChip-sizeMedium.MuiChip-colorDefault svg {float: right;margin: 0;}

ul.MuiAutocomplete-listbox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 15px;
    text-align: left;
    /* max-height: 50vh; */
    /* max-width: 90%; */
}

ul.MuiAutocomplete-listbox li {
    height: auto;
    min-height: 40px !important;
}

.btn_confirm {
  background: #09c !important;
  border: 1px solid #09c !important;
  color: #fff !important;
  padding: 8px 16px !important;
  border-radius: 2px !important;
  margin: 4px 8px !important;
  cursor: pointer !important;
  min-width: 128px !important;
}

.fileformat {
  display: flex;
  flex-direction: row;
  height: calc(100% - 50px);
  padding: 12px;
  gap: 8px;
  justify-content: space-between;
  overflow: auto;
}

.fileformat .format-box {
  float: none;
  flex: 1 1 auto;
  max-width: 300px;
}

.fileformat .format-box h3 {
  padding: 0 30px;
  background-color: #efefef;
  text-align: center;
  margin-top: 0;
}

.fileformat .format-box .file-list {
  margin: 0 auto;
  float: none;
  overflow: hidden;
}

.fileformat .format-box .file-list div {
  width: 135px;
  margin: 0;
  padding: 0 5px;
  float: left;
  text-align: left;
}

.fileformat .format-box .file-list span {
  padding: 8px 0px 8px 40px;
  margin: 5px 0 0 0;
  width: 100%;
  float: left;
  background-size: 25px !important;
}

.fileformat .extdoc {
background: url(../public/img/matecat_file_icons.png) 6px 0 no-repeat !important;
}

.fileformat .extppt {
background: url(../public/img/matecat_file_icons.png) 6px -34px no-repeat !important;
}

.fileformat .exthtm {
background: url(../public/img/matecat_file_icons.png) 6px -70px no-repeat !important;
}

.fileformat .extpdf {
background: url(../public/img/matecat_file_icons.png) 6px -104px no-repeat !important;
}

.fileformat .extxls {
background: url(../public/img/matecat_file_icons.png) 6px -140px no-repeat !important;
}

.fileformat .exttxt {
background: url(../public/img/matecat_file_icons.png) 6px -172px no-repeat !important;
}

.fileformat .extxif {
background: url(../public/img/matecat_file_icons.png) 6px -208px no-repeat !important;
}

.fileformat .extttx {
background: url(../public/img/matecat_file_icons.png) 6px -242px no-repeat !important;
}

.fileformat .extitd {
background: url(../public/img/matecat_file_icons.png) 6px -276px no-repeat !important;
}

.fileformat .extxlf {
background: url(../public/img/matecat_file_icons.png) 6px -310px no-repeat !important;
}

.fileformat .extmif {
background: url(../public/img/matecat_file_icons.png) 6px -342px no-repeat !important;
}

.fileformat .extidd {
background: url(../public/img/matecat_file_icons.png) 6px -378px no-repeat !important;
}

.fileformat .extqxp {
background: url(../public/img/matecat_file_icons.png) 6px -412px no-repeat !important;
}

.fileformat .extxml {
background: url(../public/img/matecat_file_icons.png) 6px -446px no-repeat !important;
}

.fileformat .extrcc {
background: url(../public/img/matecat_file_icons.png) 6px -484px no-repeat !important;
}

.fileformat .extres {
background: url(../public/img/matecat_file_icons.png) 6px -516px no-repeat !important;
}

.fileformat .extsgl {
background: url(../public/img/matecat_file_icons.png) 6px -552px no-repeat !important;
}

.fileformat .extsgm {
background: url(../public/img/matecat_file_icons.png) 6px -584px no-repeat !important;
}

.fileformat .extpro {
background: url(../public/img/matecat_file_icons.png) 6px -618px no-repeat !important;
}

.fileformat .extdit {
background: url(../public/img/matecat_file_icons.png) 6px -652px no-repeat !important;
}

.fileformat .exttag {
background: url(../public/img/matecat_file_icons.png) 6px -686px no-repeat !important;
}

.fileformat .exttmx {
background: url(../public/img/matecat_file_icons.png) 6px -722px no-repeat !important;
}

.fileformat .extstr {
background: url(../public/img/matecat_file_icons.png) 6px -758px no-repeat !important;
}

.fileformat .extzip {
background: url(../public/img/matecat_file_icons.png) 6px -792px no-repeat !important;
}

.fileformat .exticml {
background: url(../public/img/matecat_file_icons.png) 6px -826px no-repeat !important;
}

.fileformat .extimg {
background: url(../public/img/matecat_file_icons.png) 6px -860px no-repeat !important;
}

.fileformat .extwix {
background: url(../public/img/matecat_file_icons.png) 6px -894px no-repeat !important;
}

.fileformat .extsrt {
background: url(../public/img/matecat_file_icons.png) 6px -928px no-repeat !important;
}

.fileformat .extsbv {
background: url(../public/img/matecat_file_icons.png) 6px -1133px no-repeat !important;
}

.fileformat .extvtt {
background: url(../public/img/matecat_file_icons.png) 6px -1167px no-repeat !important;
}

.fileformat .extpo {
background: url(../public/img/matecat_file_icons.png) 6px -962px no-repeat !important;
}

.fileformat .extg {
background: url(../public/img/matecat_file_icons.png) 6px -996px no-repeat !important;
}

.fileformat .exts {
background: url(../public/img/matecat_file_icons.png) 6px -0px no-repeat !important;
}

.fileformat .extgsli {
background: url(../public/img/matecat_file_icons.png) 6px -1033px no-repeat !important;
}

.fileformat .extgdoc {
background: url(../public/img/matecat_file_icons.png) 6px -1070px no-repeat !important;
}

.fileformat .extgsheet {
background: url(../public/img/matecat_file_icons.png) 6px -1107px no-repeat !important;
}


.normal-foo {
  background-color: #eaebee;
  min-width: 992px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.normal-foo .footer-body {
  display: grid;
  position: relative;
  grid-column-gap: 24px;
  padding: 12px 64px;
  grid-template-columns: minmax(auto, 440px) auto minmax(auto, 440px);
  align-items: center;
}

.normal-foo .footer-body .info {
  display: grid;
  align-items: center;
  grid-template-columns: 40px auto;
  grid-column-gap: 8px;
}

.normal-foo .footer-body .info .description {
  color: #788190;
  font-weight: 100;
  font-size: 12px;
  text-align: left;
  line-height: 14px;
}

.normal-foo .footer-body  .side-info {
  margin-top: 4px;
  display: flex;
  align-items: center;
  box-shadow: none;
  justify-content: center;
}

.normal-foo .footer-body .side-info .item {
  padding: 0 20px;
  display: flex;
  gap: 5px;
}

.normal-foo .footer-body .side-info .item a {
  margin: 0;
  color: #788190;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.normal-foo .footer-body .footer-logo {
  display: flex;
  justify-content: end;
}

.cat_tool_desc form .MuiToolbar-gutters {
  min-height: auto;
}

.analyse-item {
  background-color: #eaebee;
  border-left: 1px solid #d9e0e8;
}

.analyse-item * {
  font-size: 16px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.analyse-item > div {
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2px;
  padding-right: 6px;
}

.analyse-item > div:first-child {
  border-bottom: 1px solid #d9e0e8;
  height: 60px;
  font-weight: bold;
}

.analyse-item:first-child {
  background-color: #f5f6f7;
  border: none;
}

.analyse-item:first-child > div:first-child {
  font-weight: normal;
  border: none;
}
.analyse-item:last-child > div:last-child {
  font-weight: normal;
  border: none;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 800;
}
.analyse-item1 {
  background-color: #FFF;
  border-left: 1px solid #d9e0e8;
}
.color{
  background-color: #eeeee5;
  border-radius: 1px;
  visibility:visible;
}
.color1{

  visibility:hidden;
}
.analyse-item1 * {
  font-size: 16px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.analyse-item1 > div {
  height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2px;
  padding-right: 6px;
  margin-bottom: -18px;
}

.analyse-item1 > div:first-child {
  /* border-bottom: 1px solid #d9e0e8; */
  height: 55px;
  font-weight: bold;
}

.analyse-item1:first-child {
  background-color: #fff;
  border: none;
}

.analyse-item1:first-child > div:first-child {
  font-weight: normal;
  border: none;
}

div#target-language ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

div#target-language ul li.MuiAutocomplete-option[aria-selected="true"] {
    color: rgb(255, 255, 255);
    background: rgb(0, 43, 90);
    border-radius: 2px;
}

div#target-language ul li .css-tlelie-MuiListItemText-root {
    order: 1;
}

div#target-language ul li .MuiCheckbox-root {
    order: 2;
    padding: 0;
    margin: 0 !important;
    opacity: 0;
}

div#target-language ul li.MuiAutocomplete-option[aria-selected="true"] span.MuiButtonBase-root.MuiCheckbox-root {
    opacity: 1;
}

div#target-language ul li.MuiAutocomplete-option[aria-selected="true"] span.MuiButtonBase-root.MuiCheckbox-root * {
    fill: #fff;
}

span.code_lang {
    text-align: center;
    background-color: #9e9e9e;
    border-radius: 4px;
    padding: 2px 4px;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    min-width: 60px;
    display: inline-block;
    font-weight: normal !important;
}

div#target-language ul li span {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
}

div#target-language ul li.MuiAutocomplete-option[aria-selected="true"] span.code_lang {
  background-color: #fff;
  color: #002b5a;
}

img.switch_btn {
  max-width: 20px;
  margin-top: 26px;
  opacity: 0.5;
}